<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>org.projet.servlets.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regiter</servlet-name>
        <servlet-class>org.projet.servlets.RegiterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>org.projet.servlets.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierStudentServlet</servlet-name>
        <servlet-class>org.projet.servlets.ModifierStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateStudentServlet</servlet-name>
        <servlet-class>org.projet.servlets.ValidateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEntrepriseServlet</servlet-name>
        <servlet-class>org.projet.servlets.DeleteEntrepriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEntrepriseServlet</servlet-name>
        <servlet-class>org.projet.servlets.ModifierEntrepriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateEntrepriseServlet</servlet-name>
        <servlet-class>org.projet.servlets.ValidateEntrepriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierOffreServlet</servlet-name>
        <servlet-class>org.projet.servlets.ModifierOffreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerOffreEntrepriseServlet</servlet-name>
        <servlet-class>org.projet.servlets.SupprimerOffreEntrepriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOffreServlet</servlet-name>
        <servlet-class>org.projet.servlets.ValidateOffreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOffreServlet</servlet-name>
        <servlet-class>org.projet.servlets.DeleteOffreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateSaveServlet</servlet-name>
        <servlet-class>org.projet.servlets.RateSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierCommentaireServlet</servlet-name>
        <servlet-class>org.projet.servlets.ModifierCommentaireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerCommentServlet</servlet-name>
        <servlet-class>org.projet.servlets.SupprimerCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/bonjour</url-pattern>
        <!--ceci signifie que quand le visiteur va aller sur l'adresse bonjour de notre site
il sera redirigé vers la servlet Test qui dans servlets.Test et ensuite la méthode doGet sera appelé-->
    </servlet-mapping>
    <!-- lier le nom du sservelet avec un url à travers lequel nous pourrons y accéder -->
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>org.projet.servlets.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ensiaste</servlet-name>
        <servlet-class>org.projet.servlets.ensiaste</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ensiaste</servlet-name>
        <url-pattern>/ensiaste</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjouterOffre</servlet-name>
        <servlet-class>org.projet.servlets.AjouterOffre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterOffre</servlet-name>
        <url-pattern>/AjouterOffre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnsiasteProfile</servlet-name>
        <servlet-class>org.projet.servlets.EnsiasteProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnsiasteProfile</servlet-name>
        <url-pattern>/EnsiasteProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EntrepriseProfile</servlet-name>
        <servlet-class>org.projet.servlets.EntrepriseProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntrepriseProfile</servlet-name>
        <url-pattern>/EntrepriseProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>afficherOffre</servlet-name>
        <servlet-class>org.projet.servlets.afficherOffre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>afficherOffre</servlet-name>
        <url-pattern>/AfficherOffre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminProfile</servlet-name>
        <servlet-class>org.projet.servlets.AdminProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProfile</servlet-name>
        <url-pattern>/AdminProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjouterCommentaire</servlet-name>
        <servlet-class>org.projet.servlets.AjouterCommentaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterCommentaire</servlet-name>
        <url-pattern>/AjouterCommentaire</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sauvegarde</servlet-name>
        <servlet-class>org.projet.servlets.Sauvegarde</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sauvegarde</servlet-name>
        <url-pattern>/Sauvegarde</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RechercherOffre</servlet-name>
        <servlet-class>org.projet.servlets.RechercherOffre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechercherOffre</servlet-name>
        <url-pattern>/RechercherOffre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RechercherProfile</servlet-name>
        <servlet-class>org.projet.servlets.RechercherProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechercherProfile</servlet-name>
        <url-pattern>/RechercherProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.projet.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.projet.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierStudentServlet</servlet-name>
        <url-pattern>/ModifierStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateStudentServlet</servlet-name>
        <url-pattern>/ValidateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEntrepriseServlet</servlet-name>
        <url-pattern>/DeleteEntrepriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEntrepriseServlet</servlet-name>
        <url-pattern>/ModifierEntrepriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateEntrepriseServlet</servlet-name>
        <url-pattern>/ValidateEntrepriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierOffreServlet</servlet-name>
        <url-pattern>/ModifierOffreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerOffreEntrepriseServlet</servlet-name>
        <url-pattern>/SupprimerOffreEntrepriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOffreServlet</servlet-name>
        <url-pattern>/ValidateOffreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOffreServlet</servlet-name>
        <url-pattern>/DeleteOffreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateSaveServlet</servlet-name>
        <url-pattern>/RateSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierCommentaireServlet</servlet-name>
        <url-pattern>/ModifierCommentaireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerCommentServlet</servlet-name>
        <url-pattern>/SupprimerCommentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
